@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: whitesmoke;
  overflow-y: scroll; /* Show scrollbar */
  -ms-overflow-style: none; /* Hide scrollbar in IE and Edge */
  scrollbar-width: none; /* Hide scrollbar in Firefox */
}
body::-webkit-scrollbar {
  display: none;
}

header {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.714), rgba(0, 0, 0, 0.292)),
    url("./IMAGES/medicine-cover.jpg");
  background-size: cover;
  position: relative;
}
.upArrow {
  position: fixed;
  width: 30px;
  bottom: 10px;
  border-radius: 20px;
  padding: 5px;
  right: 10px;
  color: whitesmoke;
  background-color: #2b8a3e;
  z-index: 1;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.menuButton {
  width: 20px;
  height: max-content;
  cursor: pointer;
  display: none;
}
.website-name {
  font-size: 26px;
  text-decoration: none;
  font-weight: 700;
  color: whitesmoke;
}

.links {
  display: flex;
  gap: 12px;
}
.links a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 18px;
  position: relative;
}
.links a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: whitesmoke;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}
.links a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

header p {
  width: 40%;
  color: whitesmoke;
  position: absolute;
  top: 30%;
  left: 40%;
  font-size: 24px;
}

/* Article */

#about {
  color: #2b8a3e;
  text-align: center;
  margin: 30px 0px;
  font-size: 32px;
}

article {
  width: 90%;
  margin: 0 auto;
}

article p {
  font-size: 19px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.medicine-pic-with-content,
.vaccine-with-content {
  display: flex;
  align-items: center;
}

img {
  height: 300px;
}

.search {
  width: 90%;
  margin: 0 auto;
  margin-top: 50px;
  position: relative;
  /* height: 100vh; */
}
.input {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.input-field {
  width: 40%;
  padding: 10px;
  border-radius: 20px;
  outline: none;
  border: 2px solid #2b8a3e;
  font-size: 20px;
}

.history,
.clearhistory,
.input-search-btn {
  font-size: 20px;
  padding: 10px;
  background-color: #b2f2bb;
  border-radius: 20px;
  border: none;
  outline: none;
  cursor: pointer;
}
.history:hover,
.clearhistory:hover,
.input-search-btn:hover {
  border: none;
  background-color: #69db7c;
}
.output-field {
  width: 100%;
}

.answer-fetch-field {
  width: 100%;
  height: 500px;
  box-shadow: 10px 10px 30px 0.5px rgba(0, 0, 0, 0.103);
  padding: 20px;
  border-radius: 30px;
  font-size: 18px;
  position: relative;
  margin: 30px 0;
  line-height: 1.3;
  background-size: cover;
  overflow-y: scroll;
  overflow-y: scroll; /* Show scrollbar */
  -ms-overflow-style: none; /* Hide scrollbar in IE and Edge */
  scrollbar-width: none;
}
.answer-fetch-field::-webkit-scrollbar {
  display: none;
}

.loader {
  width: 100px;
  position: absolute;
  height: max-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.hidden {
  display: none;
}

footer {
  margin: 5px;
  text-align: center;
}

/* Media Queries */
@media only screen and (max-width: 860px) {
  /* Header */
  .website-name {
    font-size: 20px;
  }
  nav .links {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 0;
    top: 100%;
    overflow-y: auto;
    background-color: #2b8a3e;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 10;
    text-align: center;
    padding: 10px;
  }
  nav .links a {
    margin-right: 0;
  }
  nav .hide {
    display: none;
  }
  header p {
    display: none;
  }
  header {
    background-image: none;
    background-color: #2b8a3e;
    height: max-content;
    position: relative;
  }
  .menuButton {
    display: block;
  }
  .input {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
  }
  .buttonsDiv {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
  }
  .input-field {
    grid-column: 1/-1;
    width: 70%;
    justify-self: center;
  }

  footer {
    font-size: 15px;
  }
}
